@font-face {
  font-family: "Kingthings Foundation";
  src: url('Kingthings_Foundation.ttf');
}
body {
  background-color: #02001B;
}
#background {
  position: fixed;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.logo-container {
  width: 400px;
  margin: 20px auto;
}
.logo-container .logo-bw {
  z-index: -20;
}
.box-set {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.box-header {
  padding: 5px 10px;
  font-size: 28px;
  font-family: "Kingthings Foundation";
  background-color: #fc0;
  color: #039;
}
.box-header .icon {
  margin: -10px;
  padding: 10px 20px;
  float: right;
  color: #039;
}
.box-header .icon.close:hover {
  color: steelblue;
}
.box {
  width: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
}
.box .box-title {
  padding: 5px 10px;
  font-size: 28px;
  font-family: "Kingthings Foundation";
  background-color: #fc0;
  color: #039;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.box .box-title .icon {
  margin: -10px;
  padding: 10px 20px;
  float: right;
  color: #039;
}
.box .box-title .icon.close:hover {
  color: steelblue;
}
.box.preview:hover,
.box.preview:active {
  cursor: pointer;
}
.box.preview:hover .box-title,
.box.preview:active .box-title,
.box.preview:hover .icon,
.box.preview:active .icon {
  color: steelblue;
}
.box .box-preview,
.box .box-full {
  padding: 10px;
  font-size: 20px;
}
.box .box-preview,
.box .box-title > .icon.box-icon {
  display: none;
}
.box .box-title > .icon.close {
  display: inline-block;
}
.box.preview .box-full,
.box.preview .box-title > .icon.close {
  display: none;
}
.box.preview .box-preview {
  display: block;
}
.box.preview .box-title > .icon.box-icon {
  display: inline-block;
}
.linkbox {
  padding: 5px 10px;
  font-size: 28px;
  font-family: "Kingthings Foundation";
  background-color: #fc0;
  color: #039;
  border-radius: 5px;
}
.linkbox .icon {
  margin: -10px;
  padding: 10px 20px;
  float: right;
  color: #039;
}
.linkbox .icon.close:hover {
  color: steelblue;
}
.scout-bar {
  height: 84px;
  margin: 20px auto -5px auto;
  background-color: #6a2c91;
}
.scout-bar a#scout-logo {
  display: inline-block;
  margin: -5px 0;
  float: right;
  width: 300px;
}
/* General Text Styling */
h3 {
  font-size: 26px;
}
.euromoot {
  font-family: "Kingthings Foundation";
}
/* News Styling */
.news-item h3 > .news-date {
  float: right;
  color: #666;
}
.news-item:not(:first-child) {
  border-top: 1px solid #BBB;
  margin-top: 10px;
  padding-top: 10px;
}
/* Tours Styling */
#tour-list {
  padding: 10px;
}
#tour-list .tour h3 > .price,
#tour-list .tour h3 > .fitness {
  margin-left: 20px;
  color: #666;
}
/* Responsive Box Sizing */
@media screen and (min-width: 1210px) {
  .box-set {
    width: 1210px;
    padding: 0 20px;
  }
  .scout-bar {
    width: 1130px;
  }
  .box,
  .linkbox {
    margin: 20px;
  }
  .box.preview,
  .linkbox {
    width: 350px;
  }
}
@media screen and (max-width: 1210px) {
  .box-set {
    width: 1020px;
    padding: 0 15px;
  }
  .scout-bar {
    width: 960px;
  }
  .box,
  .linkbox {
    margin: 15px;
  }
  .box.preview,
  .linkbox {
    width: 300px;
  }
}
@media screen and (max-width: 1020px) {
  .box-set {
    width: 790px;
    padding: 0 15px;
  }
  .scout-bar {
    width: 730px;
  }
  .box,
  .linkbox {
    margin: 15px;
  }
  .box.preview,
  .linkbox {
    width: 350px;
  }
}
@media screen and (max-width: 790px) {
  .box-set {
    width: 660px;
    padding: 0 10px;
  }
  .scout-bar {
    width: 620px;
  }
  .box,
  .linkbox {
    margin: 10px;
  }
  .box.preview,
  .linkbox {
    width: 300px;
  }
}
@media screen and (max-width: 660px) {
  .box-set {
    width: 560px;
    padding: 0 10px;
  }
  .scout-bar {
    width: 520px;
  }
  .box,
  .linkbox {
    margin: 10px;
  }
  .box.preview,
  .linkbox {
    width: 250px;
  }
}
@media screen and (max-width: 560px) {
  .box-set {
    width: 100%;
    padding: 0 10px;
  }
  .scout-bar {
    width: 100%;
    padding-right: 20px;
  }
  .box,
  .linkbox {
    margin: 10px;
  }
  .box.preview,
  .linkbox {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .logo-container {
    width: 100%;
  }
}
@media print {
  #background,
  .box.preview,
  .linkbox,
  .icon,
  .icon.close {
    display: none !important;
  }
  h2 {
    font-size: 32px;
  }
  #logo img {
    display: none;
  }
  #logo:after {
    content: url("/logos/euro-logo6-bw.png");
  }
  .logo-container {
    width: 300px;
  }
  #scout-logo img {
    display: none;
  }
  #scout-logo:after {
    content: url("/logos/logo-scouts-bw.png");
  }
}
